.cardMain {
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
}
.cardMain h1 {
    font-size: 3rem ;
    font-weight: 600 ;
    color: #000 ;
    margin-bottom: 1rem ;
}

.cardMain h2 {
    font-size: 1.5rem ;
    font-weight: 600 ;
    color: #000 ;
    margin-bottom: 1rem ;
}

.cardMain h3 {
    font-size: 1.2rem ;
    font-weight: 600 ;
    color: #000 ;
    margin-bottom: 1rem ;
}

.cardMain h4 {
    font-size: 1.2rem ;
    font-weight: 600 ;
    color: #000 ;
    margin-bottom: 1rem ;
}


.cardMain p {
    font-size: 1.2rem ;
    font-weight: 400 ;
    color: #000 ;
    margin-bottom: 1rem ;
}

.cardMain img {
    object-fit: cover ;
    margin: 2rem;
}

.cardMain a {
    text-decoration: none ;
    color: #000 ;
    font-size: 1.2rem ;
    font-weight: 600 ;
    margin-bottom: 1rem ;
}

.cardMain a:hover {
    color: indigo ;
    text-decoration: underline ;
}

.cardMain a:active {
    color: lightseagreen ;
    text-decoration: underline ;
}

.cardMain a:visited {
    color: grey ;
    text-decoration: underline ;
}

.cardMain a:link {
    color: #000 ;
    text-decoration: underline ;
}

.cardMain u {
    text-decoration: none ;
    text-align: center;
}

.htmlContent{
    max-width: 1000px;
    padding:0 10% 0 10%;

}


.headerSection{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 4rem;
    flex-wrap: wrap;
    background: linear-gradient(90deg, rgb(34, 145, 197) 0%, rgb(87, 235, 255) 100%, rgba(0,212,255,1) 100%);
    align-self: center;
    justify-content: center;
}

.headerSection h1{
    color : white;
}

.htmlContent ul {
    /* bulett list */
    list-style-type: disc;
    margin-left: 1rem;
    padding-bottom: 1rem;
}

